.feedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
